<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="resources.Listeners"></listener>
</listeners>
  <test name="Login">
    <classes>
	<class name="RMSV2.RMSCustomerPortal.RMS_Login_out" />
         </classes>
  </test> <!-- Test -->
   <test name="IndexOnly">
    <classes>
	  <class name="RMSV2.RMSCustomerPortal.indexreportrequest"/> 
    </classes>
  </test> 
   <test name="SingleLocation">
    <classes>
	        <class name="RMSV2.RMSCustomerPortal.singleProviderRequest"/> 
    </classes>
  </test> 
  
</suite> <!-- Suite -->
